@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700italic,300&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:300&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);


/*--------------------------------------fontovi------------------------------------------------------*/

html{
    height: 100%;
    width: 100%;
}

/*------------------navigacija--------------*/

.navbar {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    padding-left: 4%;
    padding-right: 3%;
}

.navbar-brand img {
    height: 70px;
    width: auto;
}

.standard-nav {
    display: inline;
    float: right;
}

.narrow-nav {
    display: none;
    float: right;
    position: relative;
}

.narrow-nav img {
    padding-top: 9px;
    padding-right: 9px;
    cursor: pointer;
}

.narrow-nav:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -140px;
    min-width: 170px;
    z-index: 110;
}

.dropdown-content ul {
    text-align: right;
}

.dropdown-link {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, .4);
    margin: 10px 0;
    font-weight: 500;
    padding: 10px;
}

.dropdown-link:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #c5a981;
}

.standard-nav ul {
    text-align: center;
    margin-top: 25px;
}

.standard-nav ul li {
    display: inline;
}

.link {
    display: inline;
    color: #000;
    text-decoration: none;
    text-align: center !important;
    width: 150px;
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding-right: 40px;
}

.link:hover{
    color: #c5a981;
}

/*----------------kontakt------------------*/

.contact-container {
    width: 80%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.contact-map {
    margin-top: 50px;
}

.contact-form {
    width: 45%;
    display: inline-block;
}

.contact-form h3 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 50px;
    padding: 30px 100px;
}

.controls {
    text-align: left;
    position: relative;
}

.floatLabel {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #c6c6c6;
    width: 100%;
    margin-bottom: 18px;
    color: #888;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    border-radius: 2px;
    transition: all 0.3s;
}

.floatLabel:focus,
.floatLabel:hover {
    outline: none;
    border-color: #c5a981;
    width: 90%;
}

.controls label {
    position: absolute;
    left: 8px;
    top: 12px; 
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
    transition: color 0.3s, top 0.3s;
    background-color: white;
    top: -11px;
}

.controls textarea {
    resize: none;
    height: 200px;
}

/*----------------info--------------------*/

.contact-info {
    display: inline-block;
    width: 45%;
    padding: 0 50px 50px 100px;
    text-align: center;
}

.contact-info h3 {
    font-size: 2em;
    font-weight: 500;
    margin: 40px 0 20px 0;
}

/*----------------footer------------------*/

footer ul li {
    display: inline;
}


footer li a{
    padding-right: 4%;
    text-decoration: none;
    display: inline;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: #000;
    transition: all .2s ease-out;
}

footer li a:hover{
    color: #c5a981;
}

footer p{
    padding: 10px 0px 10px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #000;
    text-align: center;
}

footer ul{
    text-align: center;
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width: 767px) { 
    html {
        font-size: 60%;
    }

    .navbar {
        height: 50px;
    }

    .navbar-brand img {
        height: 50px;
        width: auto;
    }

    .standard-nav {
        display: none;
    }

    .narrow-nav {
        display: inline;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form h3 {
        margin-bottom: 30px;
        padding: 30px 30px;
    }

    .contact-info {
        width: 100%;
        padding: 0 30px 30px 30px;
    }
 }

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) { 
    html {
        font-size: 60%;
    }

    .navbar {
        height: 50px;
    }

    .navbar-brand img {
        height: 50px;
        width: auto;
    }

    .contact-form {
        width: 100%;
    }

    .contact-info {
        width: 100%;
        padding: 0 40px 40px 40px;
    }
 }

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px) { 
    html {
        font-size: 80%;
    }

    .navbar {
        height: 60px;
    }

    .navbar-brand img {
        height: 60px;
        width: auto;
    }

    .contact-form {
        width: 100%;
    }

    .contact-info {
        width: 100%;
    }
 }