@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700italic,300&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Raleway:300&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext);

/*-------------------------------------------------fontovi-----------------------------------------------------------*/

html{
	height: 100%;
	width: 100%;
}

/*****************navigacija********/

.navbar {
	background-color: #ffffff;
	height: 70px;
	width: 100%;
	padding-left: 4%;
	padding-right: 3%;
}

.navbar-brand img {
	height: 70px;
	width: auto;
}

.standard-nav {
	display: inline;
	float: right;
}

.narrow-nav {
	display: none;
	float: right;
	position: relative;
}

.narrow-nav img {
	padding-top: 9px;
	padding-right: 9px;
	cursor: pointer;
}

.narrow-nav:hover .dropdown-content {
	display: block;
}

.dropdown-content {
	display: none;
    position: absolute;
    left: -140px;
    min-width: 170px;
}

.dropdown-content ul {
	text-align: right;
}

.dropdown-link {
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(0, 0, 0, .4);
	margin: 10px 0;
	font-weight: 500;
	padding: 10px;
}

.dropdown-link:hover {
	background-color: rgba(255, 255, 255, 0.9);
	color: #c5a981;
}

.standard-nav ul {
	text-align: center;
	margin-top: 25px;
}

.standard-nav ul li {
	display: inline;
}

.link {
	display: inline;
	color: #000;
	text-decoration: none;
	text-align: center !important;
	width: 150px;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	padding-right: 40px;
}

.link:hover{
	color: #c5a981;
}

/*---------------------------------------ponude search------------------------------------------------------*/

.ponude {
	width: 90%;
	margin: auto;
	padding: 0 50px;
}

.ponude input[type="text"] {
	margin-right: 40px;
	font-size: 14px;
	float: right;
	height: 40px;
	width: 250px;
	border: 2px solid #c5a981;
	border-radius: 5px;
	background: url(../fonts/search-icon.png) no-repeat scroll 210px 2px;
	padding-left: 5px;
	outline: none;
}

::-webkit-input-placeholder {
	color: rgba(197, 169, 129, .7);
}


.ponude h2 {
	font-size: 2.5em;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	padding-top: 50px;
}

/*--------------------------------ponude------------------------------------*/

.offer {
	padding: 30px;
	padding-right: 100px;
	display: block;
	width: 100%;
	text-align: center;
}

.offer-image {
	display: inline-block;
	width: 60%;
	padding-right: 50px;
	min-width: 620px;
}

.offer-image img {
	width: 620px;
	height: auto;
	float: right;
	border: 10px solid #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.offer-description {
	display: inline-block;
	width: 30%;
	min-width: 440px;
	padding: 10px;
}

.offer-description h2 {
	text-align: center;
	font-size: 2.3em;
	font-family: 'Raleway', sans-serif;
	background: url(../img/divider.png) 0 bottom repeat-x;
}

.offer-description p {
	margin: 30px 0;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
}

.offer-description button {
	height: 40px;
	width: 200px;
    line-height: 36px;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #c5a981;
    color: #c5a981;
    font-family: 'Raleway', sans-serif;
    background: transparent;
    transition: all .2s ease-in;
}

.offer-description button:hover {
	background: #c5a981;
	color: white;
}


/*-----------------------------------------ucitaj jos------------------------------------------------------------*/

.load {
	width: 100%;
	text-align: center;
	margin: 50px 0;
}

.load button {
	height: 60px;
	width: 400px;
    line-height: 58px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #c5a981;
    color: #c5a981;
    font-family: 'Raleway', sans-serif;
    background: transparent;
    font-size: 1.4em;
    transition: all .2s ease-in;
}

.load button:hover {
	background: #c5a981;
	color: white;
}

/*-----------------------------footer-----------------------------------------------------*/

footer ul li {
	display: inline;
}


footer li a{
	padding-right: 4%;
	text-decoration: none;
	display: inline;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	color: #000;
	transition: all .2s ease-out;
}

footer li a:hover{
	color: #c5a981;
}

footer p{
	padding: 10px 0px 10px 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #000;
	text-align: center;
}

footer ul{
	text-align: center;
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width: 767px) { 
	html {
		font-size: 60%;
	}

	.navbar {
		height: 50px;
	}

	.navbar-brand img {
		height: 50px;
		width: auto;
	}

	.standard-nav {
		display: none;
	}

	.narrow-nav {
		display: inline;
	}

	.ponude {
		padding: 0;
		text-align: center;
	}

	.ponude input[type="text"] {
		float: none;
		margin-top: 20px;
		margin-right: 0;
	}

	.offer {
		padding-right: 0;
		padding: 20px;
	}

	.offer-image {
		padding-right: 0;
		min-width: 320px;
	}

	.offer-image img {
		width: 320px;
	}

	.offer-description {
		min-width: 320px;
	}

	.offer-description button {
		height: 30px;
		width: 130px;
	    line-height: 28px;
	}

	.load button {
		height: 48px;
		width: 300px;
	    line-height: 44px;
	}
 }

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991px) { 
	html {
		font-size: 60%;
	}

	.navbar {
		height: 50px;
	}

	.navbar-brand img {
		height: 50px;
		width: auto;
	}

	.ponude {
		padding: 0;
		text-align: center;
	}

	.ponude input[type="text"] {
		float: none;
		margin-top: 20px;
		margin-right: 0;
	}

	.offer {
		padding: 20px;
		padding-right: 0;
	}

	.offer-image {
		padding-right: 0;
		min-width: 420px;
	}

	.offer-image img {
		width: 420px;
	}
 }

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199px) { 
	html {
		font-size: 80%;
	}

	.navbar {
		height: 60px;
	}

	.navbar-brand img {
		height: 60px;
		width: auto;
	}

	.ponude {
		text-align: center;
	}

	.ponude input[type="text"] {
		float: none;
		margin-top: 20px;
		margin-right: 0;
	}

	.offer-description button {
		height: 30px;
		width: 160px;
	    line-height: 28px;
	}

	.offer-image {
		padding-right: 0;
		min-width: 520px;
	}

	.offer-image img {
		width: 520px;
	}
 }

